html.dark-mode {
  --primary-color: #8bd5ca;
  --primary-dark-color: #179299;
  --primary-light-color: #94e2d5;

  --page-background-color: #181825;
  --page-foreground-color: #cdd6f4;
  --page-secondary-foreground-color: #7f849c;

  --separator-color: #585b70;

  --side-nav-background: #11111b;

  --header-background: var(--side-nav-background);

  --code-background: #1e1e2e;

  --fragment-background: #1e1e2e;
  --fragment-foreground: #cdd6f4;
  --fragment-keyword: #cba6f7;
  --fragment-keywordtype: #cba6f7;
  --fragment-keywordflow: #cba6f7;
  --fragment-token: #a6e3a1;
  --fragment-comment: #9399b2;
  --fragment-link: #89b4fa;
  --fragment-preprocessor: #f9e2af;
  --fragment-linenumber-color: #7f849c;
  --fragment-linenumber-background: #181825;
  --fragment-linenumber-border: #585b70;
}
